.container-fluid{
  display: flex;
  padding-top: 20%;
  padding-bottom: 100%;
  margin: auto;
  background-image: url("../../assets/logos/logoWhite.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
